header[data-native-frame] {
  -webkit-app-region: drag;
  app-region: drag;
}

header[data-native-frame] :is(button, input, select, textarea, a, [role="button"], [role="radio"], [role="group"]) {
  -webkit-app-region: no-drag;
  app-region: no-drag;
}
